.Font {
    -fx-font-family: 'Poiret One';
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.MenuBar {
    /*-fx-background-color:  linear-gradient(to right, #5b5da5, #afb9e6);*/
    -fx-background-color:  #202225;
}

.MenuButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-weight: 0;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.BackgroundPane {
    -fx-background-color: #36393f;
}


.Search {
    -fx-background-color: #4b4d51;
    -fx-background-radius: 100;
    -fx-border-style: none;
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}

.SearchButton:hover{
    -fx-background-color: #626467;
}

.Friendlist {
    -fx-background-color: #2f3136;
}

.WindowButton {
    -fx-background-color: #00000000;
    -fx-background-radius: 0px;
}

.WindowButton:hover {
    -fx-background-color: #0000005F;
}

.Chat {
    -fx-border-style: none;
    -fx-background-color: #36393f;
}

.AddRoom {
    -fx-background-color:  #00000090;
}

.AddRoomPane {
    -fx-background-color: #FFFFFF;
}

.AddRoomFont {
    -fx-text-fill: white;
}

.AddRoomTextField {
    -fx-font-family: 'Poiret One';
    -fx-font-size: 16;
    -fx-background-color: Transparent;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

.Room {
    -fx-background-color: #4b4d51;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
}

.Room:hover {
    -fx-background-color: #626467;
}

.Remove-Border {
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: Transparent;
}

.Remove-Border > .viewport {
    -fx-background-color: transparent;
}

.ChatInput {
    -fx-font-size: 16px;
    -fx-background-color: #4b4d51;
    -fx-background-radius: 100;
    -fx-border-style: none;
    -fx-text-fill: #FFFFFF;
}

.Attachment {
    -fx-font-size: 16px;
    -fx-background-color: #4b4d51;
    -fx-background-radius: 100;
    -fx-border-style: none;
    -fx-text-fill: #FFFFFF;
}

.Attachment:hover {
    -fx-background-color: #626467;
}

.MessageRecieved {
    -fx-background-color: #7289da;
}

.MessageSent {
    -fx-background-color: #F5F5F5;
}

.DropShadow {
    -fx-effect: dropshadow(three-pass-box, #00000059, 40, 0, 0, 0);
}


.Rounded {
    -fx-background-radius: 100;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: #f3f3f3;
}