.CloseButton {
    -fx-background-color: #00000000;
    -fx-background-radius: 0px;
}

.CloseButton:hover {
    -fx-background-color: #0000005F;
}

.MenuBar {
    -fx-background-color: #3990FF;
}

.SideBar {
    -fx-background-color: #3990FF;

}

